@import "tailwindcss";

:root{
  --color-primary: #6C9BCF;
  --color-danger: #FF0060;
  --color-success: #1B9C85;
  --color-warning: #F7D060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-submit: #dcdcdc ;
  --color-hoverbutton: #04040470;
  --color-backgoundForm: #69A84F;
  --color-formButton: rgba(63, 114, 76, 0.7);
  --color-formButton-hover:rgba(56,204,93, 0.6);

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
  --color-submit:#666565;
  --color-hoverbutton: #ffffff70;
  --color-backgoundForm: #424242;
  --color-formButton: rgb(42 42 42 / 70%);
  --color-formButton-hover:rgb(98 98 98 / 60%);
}

html{
  font-size: 14px;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

::-webkit-scrollbar{
  width: 3px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(197, 197, 197, 0.849);
}

a.active {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

a.active::before {
  content: '';
  width: 6px;
  height: 18px;
  background-color: var(--color-primary);
}
